<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" (click)="openModal(form, null)"><i class="material-icons">add</i></a>
</div>
<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <form #form="ngForm" (submit)="saveCar(form, car?.$key)">
    <div class="modal-content">
      <h5>CAR CARD</h5>
      <div class="row">
        <div class="col s2 hoverable">
          <img class="responsive-img" src="{{car?.imgUrl || '/assets/img/car-256.png'}}">
        </div>
        <div class="col s10">
          <div class="row">
            <div class="input-field col s4">
              <select required materialize="material_select" [materializeSelectOptions]="brands" #selectedBrand (change)="changeModels(selectedBrand.value)"
                [ngModel]="car?.brand" name="brand">
                <option value="" disabled selected>Choose brand</option>
                <option *ngFor="let brand of brands; let i=index;" [value]="brand.name">{{brand.name}}</option>
              </select>
              <label>BRAND <span class="red-text">*</span></label>
            </div>
            <div class="input-field col s4">
              <select required materialize="material_select" [materializeSelectOptions]="models" [ngModel]="car?.model" name="model">
                <option value="" disabled selected>Choose model</option>
                <option *ngFor="let model of models" [value]="model">{{model}}</option>
              </select>
              <label>MODEL <span class="red-text">*</span></label>
            </div>
            <div class="input-field col s4">
              <select required materialize="material_select" [materializeSelectOptions]="colors" [ngModel]="car?.color" name="color">
                <option value="" disabled selected>Choose color</option>
                <option *ngFor="let color of colors" [value]="color">{{color}}</option>
              </select>
              <label>COLOR <span class="red-text">*</span></label>
            </div>
          </div>
          <div class="input-container col s3">
            <label for="reg-number">REGISTRATION NUMBER <span class="red-text">*</span></label>
            <input required id="reg-number" type="text" [ngModel]="car?.regNumber" name="regNumber">
          </div>
          <div class="input-container col s1">
            <label for="year">YEAR <span class="red-text">*</span></label>
            <input required id="year" type="number" min="1900" max="2050" [ngModel]="car?.year" name="year">
          </div>
          <div class="input-field col s4">
            <select required materialize="material_select" [materializeSelectOptions]="bodyTypes" [ngModel]="car?.bodyType" name="bodyType">
              <option value="" disabled selected>Choose body type</option>
              <option *ngFor="let bodyType of bodyTypes" [value]="bodyType">{{bodyType}}</option>
            </select>
            <label>BODY TYPE <span class="red-text">*</span></label>
          </div>
          <div class="input-field col s4">
            <select required materialize="material_select" [materializeSelectOptions]="locations" [ngModel]="car?.location" name="location">
              <option value="" disabled selected>Choose location</option>
              <option *ngFor="let location of locations" [value]="location">{{location}}</option>
            </select>
            <label>LOCATION <span class="red-text">*</span></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col s6">
            <div *ngIf="car" class=" valign-wrapper">
              <i class="material-icons red-text delete-icon" (click)="deleteCar(car)">delete</i>
            </div>
          </div>
          <div class="col s6">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" [class.disabled]="!form.valid">Save</button>
            <button class="waves-effect waves-green btn-flat" type="button" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>